<ul >
  {{#events}}
    <li>
        <h2>Title: {{ title }}</h2>
        <p>Desc: {{ description }}</p>
        <p>Location: {{ location }}</p>
        <p>Id: {{ id }}</p>
    </li>
  {{/events}}
</ul>